# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Veri dosyaları
data/csv/*.csv
data/models/*.joblib
data/models/*.pkl
data/models/*.h5

# API Anahtarları
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Hugging Face Cache (opsiyonel)
.cache/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb
